[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MonteCarloSEM"]
	path = MonteCarloSEM
	url = https://github.com/cran/MonteCarloSEM
